@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&family=Young+Serif&display=swap');

:root {
  --Mobile: 375px;
  --Desktop: 1440px;

  --Nutmeg: hsl(14, 45%, 36%);
  --Dark-Raspberry: hsl(332, 51%, 32%);
  --White: hsl(0, 0%, 100%);
  --Rose-White: hsl(330, 100%, 98%);
  --Eggshell: hsl(30, 54%, 90%);
  --Light-Grey: hsl(30, 18%, 87%);
  --Wenge-Brown: hsl(30, 10%, 34%);
  --Dark-Charcoal: hsl(24, 5%, 18%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

span {
  font-weight: bold;
}

body {
  background-color: var(--Eggshell);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Outfit' ;
  color: var(--Wenge-Brown);
}

.container {
  max-width: 720px;
  background-color: var(--White);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
}

.wrapper {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.banner {
  padding: 30px;
  padding-bottom: 0;
}

.banner img {
  width: 100%;
  border-radius: 15px;
}

.title {
  font-size: 2.5rem;
  font-weight: normal;
  font-family: 'Young Serif';
  color: black;
}

.preparation {
  background-color: var(--Rose-White);
  padding: 25px;
  color: var(--Dark-Raspberry);
  border-radius: 10px;
}

ul {
  margin-left: 23px;
}

li {
  padding-left: 13px;
  margin-top: 10px;
}

.section {
  border-bottom: 1px solid var(--Light-Grey);
  padding-bottom: 20px;
}

.section h2 {
  color: var(--Nutmeg);
  font-family: 'Young Serif';
  font-weight: normal;
  padding-bottom: 10px;
}

.instructions ul {
  list-style-type:decimal;
}

.nutrition table{
  padding-left: 30px;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}
.nutrition {
  border-bottom: none;
  padding-bottom: 0;
}

tr {
  border-bottom: 1px solid var(--Light-Grey) ;
  
}

th {
  color: hsl(14, 45%, 36%);
  padding: 8px;
}

td {
  padding: 10px;
}

th, td {
  padding-left: 30px;
}

tr:last-child {
  border-bottom: none;
}

table {
  margin-top: 10px;
}

@media only screen and (max-width: 720px) {
  .container {
    border-radius: 0;
  }

  .banner {
    padding: 0;
  }

  .banner img {
    border-radius: 0;
  }
}